.first-section {
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.first-section-left {
  width: 100%;
  margin-left: 20px;
}

.first-section-rigth {
  width: 100%;
  margin-rigth: 20px;
  text-align: center;
  height: 600px;
}

.first-section-rigth canvas {
  display: inline !important;
  width: 850px !important;
  height: 750px !important;
}

.first-section-left p {
  margin: 20px;
}

.first-section-left button {
  margin: 20px;
}

.first-section-left h1 {
  margin: 20px;
}

@media screen and (max-width: 1752px) {
  .first-section-rigth canvas {
    width: 750px !important;
    height: 650px !important;
  }
}

@media screen and (max-width: 1110px) {
  .first-section-rigth canvas {
    width: 600px !important;
    height: 549px !important;
  }
}

@media screen and (max-width: 912px) {
  .first-section-rigth canvas {
    width: 510px !important;
    margin-right: 50px;
    height: 496px !important;
  }
}

@media screen and (max-width: 850px) {
  .first-section {
    flex-wrap: wrap-reverse;
    height: 670px;
  }

  .first-section-rigth canvas {
    width: 510px !important;
    margin-right: 50px;
    height: 496px !important;
  }

  .first-section-rigth {
    height: 500px;
  }
}

@media screen and (max-width: 540px) {
  .first-section-rigth canvas {
    width: 410px !important;
    height: 396px !important;
    margin-right: 5px;
  }

  .first-section-rigth {
    height: 400px;
  }
}

@media screen and (max-width: 393px) {
  .first-section-rigth canvas {
    width: 295px !important;
    height: 270px !important;
    margin-right: 5px;
  }

  .first-section-rigth {
    height: 256px;
    direction: rtl;
  }

  .first-section-left p {
    margin: 20px;
    font-size: 15px;
  }

  .first-section-left button {
    margin: 5px;
    margin-left: 15px;
  }

  .first-section-left h1 {
    margin: 20px;
    font-size: 32px;
  }
}

@media screen and (max-width: 281px) {
  .first-section-rigth canvas {
    width: 257px !important;
    height: 244px !important;
    margin-right: 5px;
  }

  .first-section-left p {
    margin: 9px;
    font-size: 14px;
  }
  .first-section-left button {
    margin: 5px;
    margin-left: 7px;
  }

  .first-section-left h1 {
    margin: 7px;
    font-size: 25px;
  }

  .first-section-rigth {
    height: 256px;
    margin-right: 5px;
  }
}
